{{error-messages errors=errors}}

<form {{action 'create' on='submit'}}>
	<div class="form-group">
	    <div class="input-group">
			{{input type="text" value=name class="form-control"}}
		</div>
	</div>
	<button class="btn btn-primary">Save</button>
</form>