<form {{action 'update' on='submit'}}>
	<div class="form-group">
	    <div class="input-group">
			{{input type="text" value=name class="form-control"}}
		</div>
	</div>
	<button class="btn btn-primary">Update</button>
</form>